@page "/"

<PageTitle>Home</PageTitle>

<NavLink class="nav-link" href="shop">
    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Shop
</NavLink>

<NavLink class="nav-link" href="user">
    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> UserCreate
</NavLink>